.ipynb_checkpoints
notebooks/output_data/*
!notebooks/output_data/.gitkeep
notebooks/input_data/*
!notebooks/input_data/.gitkeep
article/class_struggle.aux
article/class_struggle.log
article/class_struggle.out